@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 250, 250, 250;
  --background-end-rgb: 250, 250, 250;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 16, 16, 16;
    --background-end-rgb: 16, 16, 16;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  height: 100%;
  position: "absolute";
  top: 0;
  overflow: hidden;
}

html {
  font-size: 14px;
  height: 100%;
  position: "absolute";
  top: 0;
  overflow: hidden;
  user-select: none;
}

/* D3 overrides */

.draggableArea {
  app-region: drag;
}

.noDragArea {
  app-region: no-drag;
}


/* #deckgl-wrapper {
  background-color: #FFF;
} */
